header {
  width: 100%;
  padding-bottom: 33%;
  min-height: 200px;
  position: relative;
  overflow: hidden;

  .bg-img {
    // top: -3rem;
    position: absolute;
    width: 100%;
    min-width: 600px;
  }

  .portrait {
    position: absolute;
    width: 20%;
    bottom: $gutters;
    right: $gutters;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.85;
  }
}